@keyframes scrollText {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.welcome {
    white-space: nowrap;
    display: inline-block;
    animation: scrollText 30s steps(250, end) infinite;
}