@font-face {
    font-style: normal;
    font-family: 'GENJYUUGOTHIC';
    src: url(/font/GENJYUUGOTHICX-BOLD-subset.woff2) format("woff2");
}

.body {
    font-family: 'GENJYUUGOTHIC';
    font-weight: inherit;
    /*フォントの乱れを修正*/
}