@font-face {
    font-style: normal;
    font-family: 'KH-Dot-Akihabara-16';
    src: url(/font/KH-Dot-Akihabara-16-subset.woff2) format("woff2");
}

.body_90s {
    font-family: 'KH-Dot-Akihabara-16';
    font-weight: inherit;
    /*フォントの乱れを修正*/
}